.enter {
  opacity: 0;
  transform: translate(-100%);
}

.enterActive {
  opacity: 1;
  transform: translate(0);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translate(0);
}

.exitActive {
  opacity: 1;
  transform: translate(-100%);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
